<div class="episodio">
    <%- include('./partials/public_header')%>
    <section class="content">        
        <section class="episodio-content">              
                <article class="episodio">
                    <ul>
                        <li><img class="title" src="/images/baphomet.svg" alt="">  <%=data.title%>  <img class="title" src="/images/baphomet.svg" alt=""></li>
                        <li><%=data.description%></li>
                        <li> <a href="/vote/<%=data.id%>"> <%=data.points%> <img class="like" src="/images/satanic.svg" alt=""></a></li>
                        <li><img src="/images/<%=data.image%>" alt=""></li>

                    </ul>
                </article>            
        </section>        
    </section>
    <%- include('./partials/footer')%>
</div>