<div class="episodio">
    <section class="content">
        <%- include('./partials/public_header')%>
        <section class="episodio-content">              
                <article class="episodio">
                    <ul>
                        <li><%=data.title%></li>
                        <li><%=data.description%></li>
                        <li><%=data.points%></li>
                    </ul>
                </article>            
        </section>
        <%- include('./partials/footer')%>
    </section>
</div>