<div class="episodio">
    <section class="content">
        <%- include('./partials/public_header')%>
        <section class="episodio-content">              
                <article class="episodio">
                    <ul>
                        <li><%=data.title%></li>
                        <li><%=data.description%></li>
                        <li> <a href="/vote/<%=data.id%>"> <%=data.points%></a></li>
                        <li><img src="/images/<%=data.image%>" alt=""></li>

                    </ul>
                </article>            
        </section>
        <%- include('./partials/footer')%>
    </section>
</div>